.aboutContent {
  width: 80%;
  margin: 0 auto;
  //background-color: yellow;
  height: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  .abouttitle {
    font-size: 35px;
    margin-top: 10px;
    text-decoration: underline;
  }

  p {
    width: 80%;
    height: 200px;
  }
}
