.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  label {
    display: inline-block;
    width: 600px;
    text-align: left;
    font-size: 20px;
    color: rgb(14, 86, 14);
  }
  input {
    height: 50px;
    margin-bottom: 25px;
    width: 80%;
    border-radius: 4px;
    text-align: left;
  }
  input[type="text"] {
    padding-left: 10px;
  }
  input[type="submit"] {
    outline: 2px solid rgb(14, 86, 14);
    color: black;
    text-align: center;
    font-weight: bold;
  }
}
